<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mercadinho</h1>
    <h4>Site criado por </h4>
    
    <div style="border-style: dashed;" title="Produtos">
        
        {%if products_label%}
            {% for product in products_label%}
                <div>
                    <img src="{{ Product.productPhoto }}" alt="{{ Product.productPhoto }}">
                    <h5><a href="">{{Product.nameProduct}}</a></h5>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</body>
</html>